* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--dark-smoke);
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'PT Sans';

}
html,
body {
  background-color: var(--dark-snow);
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
:root {
  --white: #ffffff;
  --dark-snow: #e5e5e5;
  --smoke: #8e8e8e;
  --dark-smoke: #555555;
  --dark-blue: #167abc;
}
