#container_search_character {
  display: flex;
  flex-direction: column;

  > h1 {
    font: 'PT Sans Caption' 700;
    align-self: flex-start;
    margin-bottom: 0.5rem;
    &:first-child {
      font-size: 5.5ch;
      margin-bottom: 1rem;
    }
  }
}
.search-wrapper {
  align-self: flex-start;
  height: auto;
  width: 31%;

  > input {
    width: 85%;
    height: 2.5rem;
    position: relative;
    border: 1px solid var(--dark-snow);
    font: 17px var(--dark-smoke);

    &::placeholder {
      font-style: italic;
      padding-left: 1rem;
      font-size: 17px;
      color: var(--smoke);
    }
  }
  > img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 27.3%;
    left: 28.3%;
    z-index: 1;
    color: var(--smoke);
    &:focus {
      z-index: 0;
    }
  }
}
